*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

# Dev log console output (Thaum.log / examples default to thaum.log)
*.log

# Bundler
/.bundle/
/vendor/bundle
/Gemfile.lock
